{% extends 'base.html.twig' %}

{% block title %} New Party Form {% endblock %}

{% block body %}
    <h2>Rejoin an existing party :</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}