{% extends 'base.html.twig' %}

{% block title %} Player connection {% endblock %}

{% block body %}
    <h1>Player {{ player_name }} ({{player_id}}) has just connect to party {{ party_name }} ({{ party_id }})</h1>
{% endblock %}